@import "tailwindcss";

@theme {
  --font-display: "Play Fair", sans-serif;
  --text-color: #ffffff;
  --pink: oklch(65.6% 0.241 354.308);
  --purple: oklch(58.5% 0.233 277.117);
  --light-gray: oklch(0.6 0 0);
  --shadow-3xl: 3px 3px 12px oklch(71.8% 0.202 349.761 / 0.25);
  --white-shadow-3xl: 0 .4375rem 3.125rem .625rem oklch(100%, 0%, 89.876%);
  --transition: .3s;
}

/* === Components === */
@layer components {

  /* Headings */
  .display-1 { 
    font-size: calc(1.125rem + 4.5vw);
    @media (min-width: 1200px) {
      font-size: 4.25rem;
    }
  }

  .display-2 {
    font-size: calc(1.575rem + 3.9vw);
    @media (min-width: 1200px) {
      font-size: 4.25rem;
    }
  }

  h1, h2, h3 {
    &.sm-heading {
      padding: .2rem 0; /* 3.2px 0 */
    }
  }

  h2, h3, h4, p {
    &.sm-heading {
      font-size: calc(1.275rem + .9vw); /* 2.4px + .9% of viewport width */
    }
  }

  /* Headings and paragraphs with small heading style */
  h2, p {
    &.sm-heading {
      &:not(.bio-text, .info) { 
        @media (min-width: 768px) {
          padding-left: 2.1875rem; /* 35px */
          font-size: calc(1.325rem + .9vw); /* 2.12px + .9% of viewport width */
        }
        @media (min-width: 1200px) {
          padding-left: 2.75rem; /* 44px */
        }
      }
    }
  }

  /* SVG icons */
  .svg-icon {
    .icon-path {
      fill: var(--purple);
      transition: fill var(--transition) ease-out;
    }
    &:hover {
      .icon-path {
        fill: url(#linearGradient);
      }
    }
  }

  /* SVG icons */
  .svg-grayed-out-icon {
    .icon-path {
      fill: var(--light-gray);
      transition: fill .3s ease-out;
    }
    &:hover {
      .icon-path {
        fill: url(#linearGradientGray);
      }
    }
  }
  
  /* Contact me Section */
  #contact {
    /* SVG icons */
    .svg-icon {
      &.common {
        width: 4.6875rem !important; /* 75px */
        height: 4.6875rem !important; /* 75px */
      }
    }
  }
}